# Database
DATABASE_URL="mysql2://user:password@localhost:3306/ticket_db"

# File Upload Directory
UPLOAD_DIR="./server/uploads"

# JWT Authentication
JWT_SECRET="generate-a-random-secret-string"
JWT_EXPIRES_IN="7d"
